<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.theostanton.QuadMonitor"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <application android:label="@string/app_name" android:icon="@drawable/quad_monitor__icon">

        <activity android:name=".activities.MainActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.FocusActivity"/>

        <activity android:name=".activities.FullScreenActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".activities.SettingsActivity"/>

        <service android:name="com.theostanton.QuadMonitor.BluetoothService"
                 android:label="Bluetooth Service"/>

        <service android:name="com.theostanton.QuadMonitor.MockerService"
                 android:label="Mocker Service"/>

    </application>


</manifest>
